@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: poppins, sans-serif;
  scroll-behavior: smooth;
}
section {
  padding: 98px;
}

.start {
  position: relative;
  min-height: 100vh;
  color: aliceblue;
  background-size: cover;
  background-color: black;
  background-position: right;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.start h2 {
  font-size: 3em;
  color: white;
  font-weight: 400;
  line-height: 1.5em;
}
.start h2 span {
  font-size: 1.5em;
  font-weight: 600;
}
.start h3 {
  font-size: 1.5em;
  color: white;
  font-weight: 500;
}
.btn {
  position: relative;
  background: red;
  display: inline-block;
  color: grey;
  margin-top: 20px;
  padding: 10px 30px;
  text-decoration: none;
  font-size: 25px;
  letter-spacing: 2px;
  font-weight: 680;
  text-transform: uppercase;
  font-family: monospace;
  
  /* transition:all 0.5s ease-in ; */
}
.btn:hover{
  transition:all 0.5s ease-in ;
}

header {
 position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 70px ;
  display: flex;
  justify-content: space-around;
  text-align: center;
  color: black;
  z-index: 1000;
  background: white;
}
header .logo {
  font-size: 29px;
  text-decoration: none;
  color: yellow;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
}
header ul {
  position: relative;
  display: flex;
}
header ul li {
  position: relative;
  list-style: none;
}
header ul li a {
  position: relative;
  display: inline-block;
  margin: 0px 15px;
  color: black;
  text-decoration: none;
  font-weight: 600;
  font-size: 20px;
}
.about {
  background-color: whitesmoke;
}
.start {
  display: flex;
  justify-content: space-between;
}
.content {
  display: flex;
  justify-content: space-between;
}
.contentbox {
  padding-right: 30px;
  font-weight: 600;
}
.contentbox h3 {
  font-size: 25px;
  margin-bottom: 11px;
}
.heading h2 {
  font-weight: 600;
  font-size: 30px;
}
.im2 {
  min-width: 52%;
}
img {
  max-width: 100%;
}
.heading {
  width: 98%;
  text-align: center;
  margin-bottom: 30px;
}

.start {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.start_div {
  margin-right: 180px;
  padding-left: 50px;
}

#about {
  padding-top: 30px;
  padding-bottom: 50px;
}
.Edu
{
    display: flex;
    justify-content: space-around ;
    flex-direction: row;
    background-color: blue;

    padding: 0px;
}
.left{
    justify-content: center;
}
.right{
    justify-content: center;
}
.one{
    background:teal ; 
    color: white;
}
.two{
    background:#c8d8e4 ;
}
section .one
{width: 660px;}
section .two
{width: 675px;}



/* Teal, grey, blue, bright white, dark grey and aqua marine */

.copyright{
  display: flex;
  align-items: center;
  justify-content: center;

}

.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: red;
}

.hover-underline-animation:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 4px;
  bottom: 0;
  left: 0;
  background-color: black;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
